 body {
            margin: 0;
            font-family: Arial, sans-serif;
            background-image: url('PortileSocial.jpeg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            color: #ffffff;
        }

        .topbar {
            background-color: rgba(51, 51, 51, 0.9); /* Semi-transparent topbar */
            color: white;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px 20px;
            position: fixed;
            width: 100%;
            top: 0;
            z-index: 1000;
            box-sizing: border-box;
        }

        .logo h1 {
            margin: 0;
            font-size: 24px;
            color: #00ccff;
        }

        .nav-links {
            display: flex;
            align-items: center;
        }

        .nav-links a {
            color: white;
            text-decoration: none;
            margin-left: 20px;
            font-size: 18px;
            padding: 5px 10px;
            border-radius: 4px;
            transition: background-color 0.3s ease;
        }

        .nav-links a:hover {
            background-color: #00ccff;
            color: #1e1e1e;
        }


.content {
    padding: 60px 20px; /* Default padding for home */
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.5);
    color: #cccccc;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    transition: all 0.5s ease; /* Transition for any size change */
    opacity: 0; /* Start hidden */
    visibility: hidden; /* Start hidden */
    height: auto;
}

.content.active {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease, visibility 0s 0.5s; /* Fade in and out */
}

#home.active {
    padding: 60px 20px; /* Smaller size for the home page */
}

#about.active {
    padding: 120px 20px; /* Larger size for the about page */
}
